@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Bold.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

