<div class="header-main ">

  <div class="heder-photo">
    <img src="../../../assets/icon/ava.jpg" />
  </div>

  <div class="heder-content">
    <h1>
      Shkvirskii Stanislav
    </h1>

    <p class="heder-content-post">
      Full stack developer
    </p>

    <div class="header-contact-info">

      <div class="header-contact-block">
        <img src="../../../assets/icon/header/phone.svg" />
        <div>
          <p class="header-contact-title">
            Phone
          </p>
          <p class="header-contact-value">
            +380686200910
          </p>
        </div>
      </div>

      <div class="header-contact-block">
        <img src="../../../assets/icon/header/email.svg" />
        <div>
          <p class="header-contact-title">
            Email
          </p>
          <p class="header-contact-value">
            Shkvirskii@gmail.com
          </p>
        </div>
      </div>

      <div class="header-contact-block">
        <img src="../../../assets/icon/header/location.svg" />
        <div>
          <p class="header-contact-title">
            Location
          </p>
          <p class="header-contact-value">
            Ukraine, Dnipro
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
