.header-main {
  display: flex;
  margin: 23px 0 60px 0;
  gap: 50px;

  .heder-photo {
    width: 350px;

    img {
      border-radius: 20px;
      width: 100%;
    }
  }

  .heder-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;


    h1 {
      color: #B4B2B3;
      font-family: Roboto;
      font-size: 66px;
    }

    .heder-content-post {
      color: #D1D1D1;
      font-family: Roboto;
      font-size: 36px;
      text-transform: uppercase;
      border-bottom: 2px solid #3A3A3A;
    }
  }

  .header-contact-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px 20px 0 0;
  }

  .header-contact-block {
    display: flex;
    gap: 15px;

    img {
      transition: transform 0.2s ease-in-out;
    }

    .header-contact-title,
    .header-contact-value {
      transition: none;
    }

    &:hover img {
      transform: scale(1.1);
    }

    .header-contact-title {
      color: #B9B9B9;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }

    .header-contact-value {
      color: #E8E8E8;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      margin-top: 4px;
    }
  }
}
