<div class="work-spase-info">

  <div class="work-spase-title">

    <p>
      {{"Links"  | translate}}
    </p>

  </div>

  <div class="work-spase-container">

    <a class="work-spase-content"  href="https://github.com/Virsk/CV-Shkvirskii-Stanislav.git">
      <img src="../../../../../assets/icon/work-spase/git.svg" />
      <p>GitHub</p>
    </a>
      
    <a class="work-spase-content"  href="https://www.linkedin.com/feed/">
      <img src="../../../../../assets/icon/work-spase/linkedin.svg" />
      <p>Linkedin</p>
    </a>
   
    <a class="work-spase-content"  href="https://posta4u.com.ua/">
      <img src="../../../../../assets/icon/work-spase/last.svg" />
      <p>Last Progect</p>
    </a>
      
  </div>

</div>
